.grow {
    height: 100px; /* Origional height */
    width: 22%; /* Origional width */
    margin: 5px 1% 5px 1%; /* Just for presentation (Not required) */
    float: left; /* Just for presentation (Not required) */
    position: relative; /* Just for presentation (Not required) */
    transition:width 0.5s; /* Animation time */
    -webkit-transition:width 0.5s; /* For Safari */
}
.grow:hover {
    width: 600PX; /* This is the height on hover */
}